@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --cor-botao: #19215B;
    --cor-botao-quiz: #4B12BC;
    --cor-botao-sair: #C6271A;
    --cor-texto: #FFFFFF;
    --cor-preto: #010101;
    --cor-menu: #202020;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

form input{
    border: 0.1px solid var(--cor-texto);
    border-radius: 5px;
    color: var(--cor-texto);
    background: var(--cor-menu);
    display: flex;
    cursor: pointer;
    padding: 8px 36px;
    align-items: center;
    width: 55vh;
    height: 65px;
    font-size: 22px;
}


.logo{
    position: fixed;
    left: 1.1%;
    top: 3.1%;

    && img{
        width: 140px;
    }
}

.tlogo {
    color: #FFFFFF;
    width: 90%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    top: 0%;
    font-size: 26px;
    font-family: "Inria Serif", sans-serif;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-preto);
    color: #6111E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

body.escurecer::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 26, 0.5);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
}

header div {
    width: 52px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

header button img {
    width: 52px;
}

header .menu img {
    height: 25px;
    width: 40px;
    right: 0;
    margin-right: 0;

}

header nav {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    background: var(--cor-menu);
    transition: 0.5s;
}

header nav.abrir {
    right: 0;
}

header nav button {
    background: none;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 30px;
}

header nav button img {
    width: 30px;
    height: 30px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    color: var(--cor-texto);
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 12px;
    cursor: pointer;
}

main {
    height: calc(100vh - 50px); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 0;
    gap: 38px;
    color: var(--cor-texto);
    text-align: center;
    font-size: 20px;
}

main button {
    border: 0.1px solid var(--cor-texto);
    color: var(--cor-texto);
    border-radius: 5px;
    background: var(--cor-botao);
    display: flex;
    cursor: pointer;
    padding: 28px 96px;
    align-items: center;
    height: 2vh;
    font-size: 15px;
}

main h1 {
    font-family: "Inria Serif", sans-serif;
    font-size: 80px;
}

main h2 {
    font-size: 40px; 
}

main p {
    font-family: "Inria Serif", sans-serif;
    font-size: 20px;
}

.botao-principal {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: var(--cor-botao);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 18px;
}

.botao-principal:hover {
    background-color: var(--cor-botao);
    transform: translateY(-2px);
}