* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

:root {
    --botao-color: #19215B;
    --botao-quiz: #4B12BC;
    --botao-sair: #C6271A;
    --texto: #FFFFFF;
    --preto: #010101;
    --menu: #0F0E0E;
}

body {
    background: url(../../images/planetasfundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

html, body {
    height: 100%;
    overflow: hidden;
}


body.escurecer::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 26, 0.5);
    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul .options {
    cursor: pointer;
}

header div {
    width: 52px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 81px;
    font-family: "Inria Serif", serif;
    font-size: 18px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

header button.menu img {
    height: 20px;
    width: 35px;
}

header button img {
    width: 52px;
}

header nav.menu img {
    height: 20px;
    width: 35px;
}

header nav.menu {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    background: var(--menu);
    transition: 0.5s;
}

header nav.menu.abrir {
    right: 0;
}

header nav.menu button {
    background: none;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 30px;
}

header nav.menu button img {
    width: 30px;
    height: 30px;
}

header nav.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header nav.menu ul li {
    color: var(--texto);
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 12px;
    cursor: pointer;
}
.seta {
    width: auto;
    height: 100vh;
    position: fixed;
    display: flex;
}

.seta button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

.left {
    left: 0;
    margin-left: 10px;
}

.right {
    right: 0;
    margin-right: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 50px;
}

.principal img {
    width: 480px;
    margin-right: 109px;
}

.principal h1 {
    font-family: Italiana;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    width: 462px;
}

.principal p {
    font-family: "Inria Serif";
    width: 80%;
    font-size: 22px;
}

.principal button {
    margin-top: 50px;
    background: none;
    border: 1px solid var(--texto);
    padding: 10px;
    width: 155px;
    font-family: "Inria Serif";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}

.planetas {
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.jupiter p,
.saturno p,
.urano p,
.netuno p {
    margin-left: 13px;
}

.planetas div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planetas img {
    height: 130px;
}

.curiosidades {
    position: absolute;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
}

.curiosidades .conteudo {
    width: 50%;
}

.curiosidades .conteudo h2 {
    font-family: Italiana;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
}

.curiosidades .conteudo p {
    font-family: "Inria Serif";
    font-size: 20px;
}

.curiosidades .conteudo button {
    margin-top: 50px;
    background: none;
    border: 1px solid var(--texto);
    padding: 10px;
    width: 155px;
    font-family: "Inria Serif";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}

.curiosidades .informacao {
    width: 40%;
    padding: 50px;
    background: var(--menu);
    border-radius: 50px;
}

.curiosidades .informacao .line {
    width: 100%;
    height: 1px;
    background: var(--texto);
}

.curiosidades .informacao h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

.curiosidades .informacao p {
    font-size: 20px;
    margin-top: 20px;
}

.curiosidades .informacao p strong {
    color: #003b5a;
    margin-left: 20px;
}

.ds-n {
    display: none;
}

.ds-f {
    display: flex;
}

body.bodycuriosidades {
    background: url(../../images/Netuno.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
