* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --botao-color: #19215B;
    --botao-quiz: #4B12BC;
    --botao-sair: #C6271A;
    --texto: #FFFFFF;
    --preto: #010101;
    --menu: #0F0E0E;
}

body {
    background: url(../../images/firstpage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body.escurecer::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 26, 0.5);
    top: 0;
    left: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
}

header div {
    width: 52px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

header button img{
    width: 52px;
}

header .menu img {
    height: 20px;
    width: 35px;
}

header nav {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    background: var(--menu);
    transition: 0.5s;
}

header nav.abrir {
    right: 0;
}

header nav button {
    background: none;
    display: flex;
    margin-left: auto;
    margin-top: 12px;
    margin-bottom: 30px;
}

header nav button img {
    width: 30px;
    height: 30px;
}

header nav ul {
    list-style: none;

    & li {
        color: var(--texto);
        font-size: 24px;
        margin-bottom: 30px;
        margin-left: 12px;
        cursor: pointer;
    }
}